@use 'filepond/dist/filepond.min.css' as *;
@use 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css' as *;
@use 'filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css' as *;
@use '../css/filepondCustom.css' as *;
@use '../css/ledgerEdit.css' as *;
@use '../css/validation-highlight.css' as *;
@use '../css/field-highlight-animation.css' as *;
@use "flatpickr/dist/flatpickr.min.css" as *;
@use "easymde/dist/easymde.min.css" as *;


// FilePondのアイテムを画面幅に応じてカラム数を変更
// デフォルト (モバイルなど、~1023px) は3カラム
.filepond--item {
  width: calc(33.333% - .5em);
}

// 中くらいの画面幅 (1024px以上) で4カラム
@media (min-width: 1024px) {
  .filepond--item {
    width: calc(25% - .5em);
  }
}

// 大きい画面幅 (1280px以上) で5カラム
@media (min-width: 1280px) {
  .filepond--item {
    width: calc(20% - .5em);
  }
}