.filepond--credits {
    display: none;
}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - 0.5em);
    }
}

.filepond--panel-root {
    background: inherit;
}

/* FilePondのアイコン表示を調整 */
.filepond--file-poster-wrapper svg {
    color: oklch(var(--bc)); /* DaisyUIのbase-content色を変数で指定 */
    width: 60%;              /* アイコンの幅をコンテナの60%に */
    height: auto;            /* 高さは自動調整 */
    max-height: 100px;       /* 最大の高さを100pxに制限 */
    padding: 1rem;           /* 内側の余白を追加 */
}
